.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: red;
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.checkIcon {
    padding-left: 8px;
    color: rgb(32, 213, 236);
    font-size: 1.3rem;
}

.info {
    flex: 1;
    font-size: 1.4rem;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}

.username {
}
